.jumbotron {
  background-color: #f0f0f0;
  padding: 2rem;
  border-radius: 0.5rem;
}
/* commentaire */
.card {
  margin-bottom: 1.5rem;
}
.green-text {
  color: #0ef40e;
}
.cursor-pointer {
  cursor: pointer;
}
.carousel-image {
  height: 400px; /* Définissez une hauteur fixe pour les images */
  object-fit: cover; /* Assurez-vous que les images couvrent la totalité de l'espace sans déformer */
  width: 100%; /* Assurez-vous que les images prennent toute la largeur */
}
