<div *ngIf="completeQuiz && isVisible" class="container">
  <div class="row">
    <!-- Colonne principale pour le quiz -->
    <div class="col-md-8">
      <h1>Quiz: {{ completeQuiz.id }}</h1>
      <p>Créé le: {{ completeQuiz.createAt | date : "dd/MM/yyyy HH:mm" }}</p>
      <p>Hôte: {{ completeQuiz.hostUserId }}</p>
      <p>Vos points : {{ score }}</p>

      <!-- Filtrage par catégorie -->
      <div class="category-filter mb-4">
        <h2>Exclure une catégorie de questions</h2>
        <div class="category-buttons">
          <button
            *ngFor="let category of completeQuiz.categoryQuestionnaire"
            class="btn btn-outline-primary mr-2 mb-2 btn-category"
            [class.active]="category.id === selectedCategory"
            (click)="applyCategoryFilter(category.id)"
          >
            {{ category.categoryName }}
          </button>
        </div>

        <div class="reset-button">
          <button
            class="btn btn-outline-primary btn-reset"
            (click)="resetCategoryFilter()"
          >
            Lancer le quizz sans filtre
          </button>
        </div>
      </div>

      <!-- Afficher la question actuelle -->
      <div
        *ngIf="
          categoriesSelected &&
          currentQuestionIndex < filteredQuestions().length
        "
        class="quiz-content"
      >
        <h2>Question {{ currentQuestionIndex + 1 }}</h2>
        <div class="card mb-3">
          <div class="card-body">
            <p class="card-text">
              {{ filteredQuestions()[currentQuestionIndex].questionText }}
            </p>

            <!-- Champ pour entrer la réponse -->
            <div class="mb-2 d-flex">
              <input
                type="text"
                class="form-control"
                [(ngModel)]="userAnswer"
                placeholder="Entrez votre réponse"
              />
              <button
                class="btn btn-outline-primary ml-2 btn-confirmer"
                (click)="confirmAnswer()"
              >
                Confirmer
              </button>
            </div>

            <!-- Bouton pour afficher les réponses -->
            <button
              class="btn btn-outline-primary mb-2 btn-possible"
              (click)="showAnswers()"
            >
              Afficher les réponses possibles
            </button>

            <!-- Affichage des réponses si l'utilisateur choisit -->
            <div *ngIf="showingAnswers">
              <h5 class="card-title mt-3">Réponses possibles</h5>
              <div class="btn-group" role="group">
                <ng-container
                  *ngFor="
                    let answer of getShuffledAnswers(
                      filteredQuestions()[currentQuestionIndex]
                    );
                    let i = index
                  "
                >
                  <input
                    type="radio"
                    class="btn-check"
                    [id]="
                      'btncheck' +
                      filteredQuestions()[currentQuestionIndex].id +
                      '-' +
                      i
                    "
                    autocomplete="off"
                    (change)="submitAnswer(answer)"
                  />
                  <label
                    class="btn btn-outline-primary btn-possible-answers"
                    [for]="
                      'btncheck' +
                      filteredQuestions()[currentQuestionIndex].id +
                      '-' +
                      i
                    "
                  >
                    {{ answer }}
                  </label>
                </ng-container>
              </div>
            </div>

            <!-- Bouton pour passer à la question suivante -->
            <button
              class="btn btn-primary mt-3 btn-passer"
              (click)="nextQuestion()"
            >
              Passer la question
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
